<div>
@Html.ActionLink("Главная страница", "Home", "Home") |
@if (new MyRoleProvider().IsUserInRole(User.Identity.Name, "Admin")) {
    @Html.ActionLink("Добавить нового соискателя", "CreateApplicant", "Admin") @:|
    @Html.ActionLink("Добавить нового работодателя", "CreateEmployer", "Admin") @:|
    @Html.ActionLink("Список пользователей", "ListPeople", "Admin") @:|
    @Html.ActionLink("Продлить время пользователя", "ExtendTime", "Admin") @:|
}
else if (new MyRoleProvider().IsUserInRole(User.Identity.Name, "Applicant"))
{
    @Html.ActionLink("Список вакансий", "ListJobs", "Employer") @:|
    @Html.ActionLink("Составить резюме", "CreateResume", "Applicant") @:|
}
else if (new MyRoleProvider().IsUserInRole(User.Identity.Name, "Employer"))
{
    @Html.ActionLink("Список вакансий", "ListJobs", "Employer") @:|
    @Html.ActionLink("Список резюме", "ListResume", "Applicant") @:|
    @Html.ActionLink("Создать вакансию", "CreateJobs", "Employer") @:|
}
</div>